# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

.DS_Store
.env
Thumbs.db

*.bak
*.tmp
*.swp
*.swo
*.orig

*.zip
*.tar.gz
*.rar
*.7z

/node_modules
/license.txt
/readme.html
/wp-*.php

*.sql
*.log

/.htaccess